$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 768px;
$font-small: 12px;
$font-btn: 14px;
$font-middle: 18px;
$font-nav: 22px;
$font-big: 48px;
$white: #ffffff;
$black: #000000;
